img{
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;

}
img:hover{
  transform: translate(10px,10px);
}
.gakkicontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font-family:  fantasy ;
  font-size: 3em;
  border-bottom: 2px solid blue;
  width: 400px;
  text-align: center;
  box-shadow: 5px 5px  5px 5px #888888;
}
